<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jake.intake-source-push</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>/Users/jake/plugins/information-flow/scripts/push_intake_sources.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>14400</integer>
  <key>WorkingDirectory</key>
  <string>/Users/jake/plugins/information-flow</string>
  <key>StandardOutPath</key>
  <string>/Users/jake/plugins/information-flow/state/intake-source-push.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/jake/plugins/information-flow/state/intake-source-push.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/jake</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/bin:/bin</string>
  </dict>
</dict>
</plist>
